<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.insummnia.webpjt.user.service.UserDAO">

    <insert id="registUserMST" parameterType="user">
      INSERT INTO TB_USER_MST
      (
          USER_ID
        , PASSWORD
        , USER_NM
        , NICK_NM
        , CREATE_USER_ID
        , CREATE_DATETIME
      )
      VALUES
      (
          #{userId}
        , #{password}
        , #{userNm} 
        , #{nickNm}
        , #{createUserId}
        , NOW()
      )
    </insert>

    <insert id="registUserInfo" parameterType="user">
      INSERT INTO TB_USER_INFO
      (
          USER_ID
      )
      VALUES
      (
          #{userId}
      )
    </insert>

    <insert id="registUserAuth" parameterType="user">
      INSERT INTO TB_USER_Auth
      (
          USER_ID
      )
      VALUES
      (
          #{userId}
      )
    </insert>

    <insert id="registUserRole" parameterType="user">
      INSERT INTO TB_USER_ROLE
      (
          USER_ID
        , ROLE_ID
        , CREATE_USER_ID
        , CREATE_DATETIME
      )
      VALUES
      (
          #{userId}
        , 'ROLE_USER'
        , #{createUserId}
        , NOW()
      )
    </insert>

    <update id="updateUserMST" parameterType="user">
      UPDATE TB_USER_MST
         SET PASSWORD        = #{password}
           , USER_NM         = #{userNm}
           , NICK_NM         = #{nickNm}
           , UPDATE_USER_ID  = #{userId}
           , UPDATE_DATETIME = NOW()
       WHERE USER_ID = #{userId}
    </update>

    <select id="selectUserCheck" parameterType="java.lang.String" resultType="java.lang.Boolean">
      SELECT EXISTS ( 
        SELECT USER_ID 
          FROM TB_USER_MST
         WHERE USER_ID = #{userId}
      )
    </select>

    <select id="selectLoginCheck" parameterType="user" resultType="java.lang.Boolean">
      SELECT EXISTS ( 
        SELECT USER_ID 
          FROM TB_USER_MST
         WHERE USER_ID = #{userId}
           AND PASSWORD = #{password}
      )
    </select>

    <select id="selectUserList" resultType="user">
      SELECT  USER_ID
           ,  IFNULL(USER_NM, '') AS USER_NM
           ,  IFNULL(NICK_NM, '') AS NICK_NM
           ,  DATE_FORMAT(CREATE_DATETIME, '%Y-%m-%d %H:%i:%s') AS CREATE_DATETIME
           ,  IFNULL(UPDATE_USER_ID, '') AS UPDATE_USER_ID
           ,  DATE_FORMAT(UPDATE_DATETIME, '%Y-%m-%d %H:%i:%s') AS UPDATE_DATETIME
        FROM TB_USER_MST
    </select>

    <select id="selectUserInfo" parameterType="java.lang.String" resultType="user">
      SELECT  USER_ID
           ,  IFNULL(USER_NM, '') AS USER_NM
           ,  IFNULL(NICK_NM, '') AS NICK_NM
           ,  DATE_FORMAT(CREATE_DATETIME, '%Y-%m-%d %H:%i:%s') AS CREATE_DATETIME
           ,  IFNULL(UPDATE_USER_ID, '') AS UPDATE_USER_ID
           ,  DATE_FORMAT(UPDATE_DATETIME, '%Y-%m-%d %H:%i:%s') AS UPDATE_DATETIME
        FROM TB_USER_MST
       WHERE USER_ID = #{userId}
    </select>

</mapper>