<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.insummnia.webpjt.admin.impl.MenuMgmtDAO">

     <!-- 전체 메뉴 조회 -->
     <select id="findMenuItemByAll" resultType="menu">
          SELECT MENU_ID 
               , MENU_URL 
               , MENU_NM_EN AS MENU_NM
               , MENU_UPPER_ID
               , IF(HAS_PARENT , 'TRUE', 'FALSE') AS HAS_PARENT
               , IF(HAS_CHILDREN, 'TRUE', 'FALSE') AS HAS_CHILDREN
               FROM TB_MENU_MST
               ORDER BY MENU_DEPTH ASC, MENU_ORD ASC
     </select>

     <!-- 모든 부모 메뉴 조회 -->
     <select id="findParentTreeItem" resultType="menuTree">
          SELECT MENU_ID AS ID
               , MENU_NM_EN AS LABEL
               , MENU_UPPER_ID AS UPPER_ID
               FROM TB_MENU_MST
               WHERE HAS_CHILDREN IS TRUE
     </select>

     <!-- 부모 메뉴아이디 별 메뉴조회 -->
     <select id="findMenuItemByUpperId" parameterType="java.lang.String" resultType="menu">
          SELECT MENU_ID
               , MENU_URL
               , MENU_NM_EN AS MENU_NM
               , MENU_ICON
               , MENU_UPPER_ID
               , MENU_ORD
               , MENU_DEPTH
          FROM TB_MENU_MST
          WHERE MENU_UPPER_ID = #{menuId}
          ORDER BY MENU_DEPTH ASC, MENU_ORD ASC
     </select>

     <!-- 메뉴아이디별 메뉴조회 -->
     <select id="findMenuItemByMenuId" parameterType="java.lang.String" resultType="menu">
          SELECT MENU_ID
               , MENU_URL
               , MENU_NM_EN
               , MENU_NM_KR
               , MENU_ICON
               , MENU_ORD
               , MENU_DEPTH
               , IF(IS_ADMIN, true, false) AS IS_ADMIN
            FROM TB_MENU_MST
            WHERE MENU_ID = #{menuId}
     </select>

     <!-- 최상위 메뉴 조회 -->
     <select id="findRootMenuItem" resultType="menu">
          SELECT MENU_ID
               , MENU_URL
               , MENU_NM_EN AS MENU_NM
               , MENU_ICON
               , MENU_UPPER_ID
               , MENU_ORD
               , MENU_DEPTH
          FROM TB_MENU_MST
          WHERE MENU_UPPER_ID = ''
     </select>

     <!-- 최상위 부모 메뉴를 부모로 둔 메뉴 조회 -->
     <select id="findMenuItemByRoot" parameterType="user" resultType="menu">
          SELECT MENU_ID
               , MENU_URL
               , MENU_NM_EN AS MENU_NM
               , MENU_ICON
               , MENU_UPPER_ID
               , MENU_ORD
               , MENU_DEPTH
          FROM TB_MENU_MST
          WHERE MENU_UPPER_ID = 'MENU_ROOT'
          <if test="roleId == null or !roleId.equals('ROLE_ADMIN')">
               AND IS_ADMIN IS FALSE
          </if>
          ORDER BY MENU_DEPTH ASC, MENU_ORD ASC 
     </select>

     <update id="updateMenuItem" parameterType="menu">
          UPDATE TB_MENU_MST
             SET MENU_NM_KR = #{menuNmKr}
               , MENU_NM_EN = #{menuNmEn}
               , MENU_URL   = #{menuUrl}
               , MENU_ICON  = #{menuIcon}
               , IS_ADMIN   = CAST(#{isAdmin} AS INT)
           WHERE MENU_ID    = #{menuId}
     </update>
    
</mapper>