<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="useGeneratedKeys" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
        <typeAlias type="com.insummnia.webpjt.user.entity.UserMSTEntity" alias="user"/>
		<typeAlias type="com.insummnia.webpjt.board.entity.BoardEntity" alias="board"/>
		<typeAlias type="com.insummnia.webpjt.board.entity.ReplyEntity" alias="reply"/>
		<typeAlias type="com.insummnia.webpjt.admin.menu.entity.MenuEntity" 	 alias="menu"/>
		<typeAlias type="com.insummnia.webpjt.admin.menu.entity.MenuTreeEntity" alias="menuTree"/>
		<typeAlias type="com.insummnia.webpjt.admin.role.entity.RoleEntity" 	 alias="role"/>
		<typeAlias type="com.insummnia.webpjt.admin.role.entity.RoleTreeEntity" alias="roleTree"/>
	</typeAliases>

</configuration>